* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3795BD;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #862a2a;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2c19b8d1;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2c19b8d1;
    color: #c42222;
    border-radius: 1rem;
    border: none;
}

.msg {
    color: #ffffc7;
    font-size: 8vmin;

}

.msg-cont {
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide {
    display: none;
}

#author {
    font-size: 1.25rem;
    margin-left: 160vmin;
    padding-left: 10vmin;
    margin-bottom: 50vmin;
    color: #270c0d;
    height: 20vmin;
    width: 20vmin;
    transform-origin: 20%;

}